[2017-05-18 08:30] qdnguyen opened #1 "3dtiles from cityGML"
Hello,

Can i create a 3dtiles from cityGML with this tool?

I have cityGMLs which contain 3D city models of paris and lyon in L93, i would like to create a 3dtiles of this models in wgs84.  Please tell me how can i do that?

Thanks a lot!

[2017-05-18 09:04] Jeremy-Gaillard commented on #1
Hi,

With this tool, you can export WKB geometries to b3dm files. At Oslandia, we store the cityGML in a postgis database, so we can export easily to this format.

This tool does not create the tileset file however. For that, you can look at https://github.com/Oslandia/building-server (3d-tiles branch, it will soon be merged in the master). However, it only works in local coordinates for now, not

[2017-07-13 11:37] #1 closed

[2018-02-13 10:56] dmh126 opened #15 "WKB parsing error"
Hello!

I'm trying to use this module to convert WKB -> B3dm and I always have an error when trying to parse a wkb file different than `test/building.wkb`.

At first I used code like that (it is an example from GDAL documentation), I just created a multipolygon feature and saved it as a wkb:

[code]
And the rest of this script I just copied from the **How to write a .b3dm file** section. It gives

[2018-02-14 10:39] Jeremy-Gaillard commented on #15
Hi,

After investigation, the problems seems to come from the endianness of the data. Currently, the parsing function assumes the byte order is little endian. Can you export your data in little endian until I push a fix?

[2018-02-15 11:26] dmh126 commented on #15
Thank you, exporting wkb with the different byte order works:

`wkb = multi_polygon.ExportToIsoWkb(byte_order=ogr.wkbNDR)`

One more question about this b3dm file. I can't visualize it in Cesium, I created a tileset and probably I'm doing something wrong.
I created wkb from a simple triangle: `[[0,0,0], [5,0,0], [5,5,0], [0,0,0]]`
I set bbox to `[[0, 0, 0], [5, 5, 5]]`
Transformation matrix to `[[

[2018-02-15 12:16] Jeremy-Gaillard commented on #15
You are missing a transform in your tileset. A common misconception is that defining a bounding region also implicitly defines the position of the underlying object, but it does not. The 3D Tiles specifications has a [section](https://github.com/AnalyticalGraphicsInc/3d-tiles#tile-transform) that explains quite well how to compute the transform.

[2018-02-26 18:05] #15 closed

[2018-02-26 18:05] Jeremy-Gaillard commented on #15
This bug has been fixed by #16.

Note that your original example still won't work because 2D geometries are not yet supported for glTF conversion.

[2018-06-21 05:28] anirbansarkar823 opened #21 "export_tileset is not working"
I have created the virtualenv and installed setup.py but still export_tileset is not working. Can any one tell me what might be the problem

[2018-08-23 16:43] vpicavet commented on #21
Hi, can you detail which version you are using and what commands exactly you executed ?

[2018-09-26 14:06] fhoubie opened #25 "Cannot run the tests nor the samples."
Hi, I'm trying to compile py3Dtiles. It works, but I can't run the tests neither the example

(venv) LEU-XFHOUBIE01:py3dtiles fhoubie$ nosetests
.......EEEEE.E
======================================================================
ERROR: tests.test_points.test_grid_insert
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/Users/fhoubi

[2018-09-27 14:34] peppsac commented on #25
The first issue (`nosetests` command failing) has been fixed by #26 : we don't use `nosetests` anymore, please use `pytest` instead.

The second problem (` RuntimeError: cannot cache function 'is_point_far_enough': no locator available for file [...]`) seems to be a numba issue on your machine: numba fails to write to its disk cache. Maybe a permissions issue?

[2018-10-02 15:01] ghost commented on #25
Hi,

@peppsac I had exact same error as (RuntimeError: cannot cache function 'is_point_far_enough': no locator available for file [...]) . It doesn't seem like a permission issue.
@fhoubie Did you fix that?

Thanks,
Wang

[2018-10-02 15:05] fhoubie commented on #25
Hi @shiruiwang ,

unfortunately not. I've tried some hints found on some forums, but no way to solve it. It is indeed not a permission issue.

Thanks
Frédéric

[2018-10-02 15:12] ghost commented on #25
Hi @fhoubie ,

thanks for your quick reply.
I recall that long time ago (a year or two) I've tried this tool and it worked fine to get .pnts info. Maybe they have changed a lot since then.
Perhaps @peppsac could give us some ideas.

Cheers,
Wang

[2018-10-03 14:04] EricBoix opened #27 "[ENH] Support for batch table hierarchy extension"
### The need
Among the available [3Dtiles extensions](https://github.com/AnalyticalGraphicsInc/3d-tiles/blob/master/extensions/README.md), the [batch table hierarchy extensions](https://github.com/AnalyticalGraphicsInc/3d-tiles/blob/master/extensions/3DTILES_batch_table_hierarchy/README.md) allows for "more complex metadata structures such as feature types or feature hierarchies".
The need for Py3

[2018-10-03 14:16] peppsac commented on #25
@shiruiwang :

What platform are you using? How did you install `py3dtiles`?

@ both of you:
This [question](https://stackoverflow.com/questions/44183779/numba-caching-issue-cannot-cache-function-no-locator-available-for-file) refers to the file [caching.py](https://github.com/numba/numba/blob/master/numba/caching.py) from numba.

It would be interesting to add some comment in the various `_locato

[2018-10-04 09:30] EricBoix commented on #25
Platform:
  - OSX-10.13.6,
   - Python 3.6.5 (installed with homebrew)

Install:
  - followed the Readme.rst including the `(venv)$ python setup.py install` of the last line
  - note: I had to use `virtualenv -p python3 venv` instead of `virtualenv -p /usr/bin/python3 venv` that unnecessarily hard-wires the path to `/usr/bin/python3` (when the python3 found in my path happens to be `/usr/local/bin

[2018-10-04 09:50] fhoubie commented on #25
I have the same environment than @EricBoix .

[2018-10-04 12:11] EricBoix opened #28 "Debian 8.11 seems too old to install Numba Py3Dtiles' dependency"
Platform:
  - OS: Debian 8.11
  - Python: 3.4.2

When launching the `pip install -e .` command of [py3dtiles' install](https://github.com/Oslandia/py3dtiles/blob/master/README.rst#install), pip eventually pulls various python packages sub-dependencies that fail building:
  1. Numba (building wheel fail)
      Numba seems to depend on numpy but doesn't pull that dependency. This can be solved with

[2018-10-05 09:11] fhoubie commented on #25
hi, I've done the installation on a completely clean/ new environment using vagrant ubuntu box and I have the same error

(venv) vagrant@postgresql:~/py3dtiles$ py3dtiles info tests/pointCloudRGB.pnts
Traceback (most recent call last):
  File "/home/vagrant/py3dtiles/venv/bin/py3dtiles", line 11, in <module>
    load_entry_point('py3dtiles==1.1.0', 'console_scripts', 'py3dtiles')()
  File "/home/v

[2018-10-05 10:11] EricBoix commented on #25
@fhoubie : what is the Ubuntu version that you used ? (I'm asking because I [failed to install on a Debian8](#28))

[2018-10-05 10:27] fhoubie commented on #25
@EricBoix I've installed a Ubuntu 16.04.5 LTS

[2018-10-05 13:56] peppsac commented on #25
I just installed py3dtiles in a ubuntu 16.04 container, following the README instructions and it seems to work fine.

The `locator` used is `numba.caching._InTreeCacheLocator`, and it writes the cache in `/home/foo/py3dtiles/venv/lib/python3.5/site-packages/py3dtiles/points/__pycache__` (for the `is_point_far_enough` function).

I realized that your path contains `.egg` elements (eg: py3dtiles-1.1

[2018-10-05 14:58] EricBoix commented on #25
@peppsac :
I had the feeling (refer above) that the egg thingy had something to do with our trouble.

And to answer your question I did use `pip`(as documented in the Readme) and I did NOT use `easy_install`.

But the [best answer of this StackOverflow](https://stackoverflow.com/questions/27964960/pip-why-sometimes-installed-as-egg-sometimes-installed-as-files#29127158) mentions a way to inhibit t

[2018-10-05 15:27] peppsac commented on #25
Ok (I asked because I had to use easy_install to reproduce the problem).

The `zip_safe` option seems like a good idea, I opened https://github.com/Oslandia/py3dtiles/pull/29 to merge this fix. Thanks!

[2018-10-08 07:32] #25 closed

[2018-10-08 10:20] fhoubie opened #30 "gltfUpAxis not part of 3DTiles specification"
The conversion of a LAS file to 3DTiles generates a gltfUpAxis property in the tileset.json file. This property is not part of the 3DTiles specification.

[2018-10-10 15:46] peppsac commented on #30
Indeed this part has been removed before the 1.0 version release of the spec.

It should be moved to the `asset.extras` property (see https://github.com/AnalyticalGraphicsInc/3d-tiles/blob/master/specification/schema/asset.schema.json#L19).

Another change would be to rename `content.url` to `content.uri`  (https://github.com/AnalyticalGraphicsInc/3d-tiles/blob/master/specification/schema/tile.con

[2018-10-11 12:35] peppsac commented on #27
AFAICT this looks good - can't tell much more than that since I don't know much about the table hierarchy extenion.

[2018-10-11 13:24] EricBoix opened #34 "Two (minor) remarks about the install documentation"
### Is requirements.txt still used ?
The from sources [installation commands](https://github.com/Oslandia/py3dtiles/blob/master/docs/install.rst#from-sources) currently require to launch a `pip install -e .`.
I don't know why (since I don't much about python install/distutils/setup thingies) but I can succeed with my py3dtiles installation without running that command.

Actually I can remove the [

[2018-10-11 14:08] Jeremy-Gaillard commented on #30
If I understand the [spec](https://github.com/AnalyticalGraphicsInc/3d-tiles/tree/master/specification#gltf) correctly, the gltfUpAxis property has completly disapeared and glTf files are now always considered y-up.  We need to remove the property and either:
- garantee that all imported meshes are y-up
- add a z-up to y-up transformation to each glTF object

In any case, this does not affect pnts

[2018-10-11 14:30] Jeremy-Gaillard commented on #27
[I started working on the batch table hierarchy extension a while ago](https://github.com/Jeremy-Gaillard/py3dtiles/blob/bt_hierarchy/py3dtiles/batch_table.py) (warning: it was made before the official 1.0 release).

I agree that we need a unified way of generating a tileset instead of creating the json by hand for each process. Probably something like this:
[code]

I don't think the user needs to

[2018-10-11 15:14] EricBoix commented on #27
@Jeremy-Gaillard :
 * yep, I did integrate (and start from) your work on the batch table hierarchy in [the version I'm working on](https://github.com/MEPP-team/py3dtiles/tree/bth) (at you can tell I went [cherry-picking on your work](https://github.com/MEPP-team/py3dtiles/commits/bth)).
* Actually, although this is obviously WIP and specially because I'm newbie to this 3DTiles business, I would re

[2018-10-12 02:15] jiawenquan opened #35 "task/las_reader.py Runtime error"
D:\ProgramData\Anaconda3\envs\newpy3dtiles\python.exe E:/GitProject/py3dtiles/py3dtiles/points/task/las_reader.py
Traceback (most recent call last):
  File "E:/GitProject/py3dtiles/py3dtiles/points/task/las_reader.py", line 8, in <module>
    import liblas
  File "D:\ProgramData\Anaconda3\envs\newpy3dtiles\lib\site-packages\liblas\__init__.py", line 2, in <module>
    from .core import get_version

[2018-10-12 03:03] jiawenquan opened #36 "Can't reader .las pointcloud, I hope 'libLAS' Replacement for 'pdal'"
I use windows 10 python3.6 ，
but  It was discovered a long time ago `libLAS`   Cannot work properly on windows10,
 "libLAS" no response updates were made ,so I hope Join `pdal `writer .las .laz...

[2018-10-12 12:30] Jeremy-Gaillard commented on #27
I think a tileset class should handle the building of the whole hierarchy, not only the tileset header. In other words, the node structure that is used in the various export scripts should be integrated in the tileset class.

Here is how I would design the class:
[code]

Edit: I probably forgot a few things, such as the possibility to add [external tilesets](https://github.com/AnalyticalGraphicsIn

[2018-10-15 07:16] jiawenquan commented on #35
I solved the problem

`pip install liblas`  The version is **wrong**!!

so download the whl file，To install http://www.lfd.uci.edu/~gohlke/pythonlibs/#liblas

`python install libLAS-1.8.1-cp36-cp36m-win_amd64`

Everything is all right  ：)

[2018-10-16 08:30] EricBoix commented on #35
On my OSX 10.13.6., Python 3.6.5, the libLAS version that gets pulled by the Py3DTiles install is version 1.8.1 (for which tests and demos are OK).
When you say that the "version is wrong", do you mean that
 1. you previously had another installed version of libLAS (say 1.7.X or 1.8.0) for which it doesn't work ?
 2. the version pulled by default is wrong ?

If this were to be case 2, are you sugg

[2018-10-16 11:54] jiawenquan opened #37 "I't trying to get a python application running on Windows and I get an ZMQError: Protocol not supported which is because ipc is not supported on windows."
[code]

So I hope  `ipc `to be changed to `tcp`

[2018-10-16 12:59] jiawenquan opened #38 "numba.errors.UntypedAttributeError: Failed at nopython (nopython frontend)"
(newpy3dtiles) E:\GitProject\py3dtiles\py3dtiles>py3dtiles convert ../exp/Tile_1.las --jobs 1 --overwrite 1 --out /tmp/destination
args: Namespace(benchmark=None, cache_size=1631, color_scale=None, command='convert', files=['../exp/Tile_1.las'], fraction=100, graph=True, jobs=1, out='/tmp/destination', overwrite=True, rgb=True, srs_in=None, srs_out=None, verbose=1)
Summary:
  - points to process:

[2018-10-16 13:04] jiawenquan commented on #35
@EricBoix
On my Windows 10 .， Python 3.6.2

2. the version pulled by default is wrong

I think I probably pulled down the 32-bit version
But 64-bit version works

[2018-10-16 13:06] #36 closed

[2018-10-16 13:28] jiawenquan commented on #38
[code]
The `numba` `njit` runs normally after I close it
But that's not a good idea

[2018-10-17 03:28] jiawenquan commented on #38
I'm sorry
The `numba `and `numpy `defaults Installation issues
Windows 10，Python 3.6  environment . A matching version needs to be installed manually

[2018-10-17 07:50] jailln commented on #27
@Jeremy-Gaillard :
- With your proposition, when do you compute the hierarchy of tiles from the geometries?
- sse, transform, refine, etc. are attributes of the tile so I don't think they need to be passed as arguments to addTile because they should be contained in tile.

[2018-10-17 11:44] Jeremy-Gaillard commented on #27
- The way a hierarchy is computed, how the objects are grouped into tiles, how level of details are generated, highly depends on the application. The tileset class is not meant to handle this kind of logic, but only to facilitate the formating of the json file. The computing of the hierarchy of tiles is either dones by scripts provided by py3dtiles (e.g; export_tileset) or by the user that imports

[2018-10-17 13:09] jailln commented on #27
* I agree with you that these functions should not necessarily be held by the tileset. However I think that py3dtiles should provide some based on usual indexing methods and which could be configured (e.g. createQuadtreeTileset(config_args)) These functions could for instance be static functions of py3dtiles so they can be used by external tools.

* [They are attributes of the tile](https://github

[2018-10-18 09:32] EricBoix commented on #27
I would be tempted to follow @jailln's proposition (within this implementation) for **renaming  the Tile object to become TileContent**. Indeed if we look at the definition of e.g. a [b3dm](https://github.com/Oslandia/py3dtiles/blob/master/py3dtiles/b3dm.py#L10):
 - it inherits from ["Tile"](https://github.com/Oslandia/py3dtiles/blob/master/py3dtiles/tile.py#L8)
 - but it has a header and a body (

[2018-10-18 13:01] Jeremy-Gaillard commented on #27
I agree, your proposition is what fits best with the specification.

Concerning @jailln first point, I guess we could expose some of our indexing functions, though I don't think that's there's a lot of value in them at the moment (in export.py at least). Maybe we could build something more ambitious and generic, but I dont know if it falls within the scope of the project (ping @peppsac).

[2018-10-25 14:21] #30 closed

[2018-11-02 14:08] tomvantilburg opened #42 "Error at exporting from postgis: struct.error: unpack requires a buffer of 16 bytes"
Wanted to test how it works with getting data from postgis but I receive a `struct.error: unpack requires a buffer of 16 bytes`

Offence happens here:
[code]

As far as I can see psycopg2 returns a memoryview for the ST_AsBinary object from postgres. I've tried to convert this to bytes by using `bytes(wkb)` but that wouldn't help.

Testing it on the building.wkb file runs without error.

[2018-11-02 15:56] tomvantilburg commented on #42
After a bit more digging I understood that the problem was with the geometry not being a Polyhedral but a PolygonZ (which has a different byte length). Apparently only Polyhedrals are supported. Not sure if this is intentional, but it makes sense.
Issue closed.

[2018-11-02 15:56] #42 closed

[2018-11-05 08:35] Jeremy-Gaillard commented on #42
Hi,

We unfortunately support only a small amount of geometry types. However, both polyhedral surfaces and multipolygonsZ are supported. You can easily convert from polygonZ to multipolygonZ using the postgis ST_Multi function.

[2018-11-07 20:39] tomvantilburg opened #44 "Boxes tilted over x-axes"
I noticed that the bounding boxes created by py3dtiles are showing up in Cesium (`debugShowBoundingVolume: true`) as if they are tilted over the x-axis
(One might also assume that it is just the earth surface that is tilted and the boxes perfectly aligned to the cartesian grid)

![image](https://user-images.githubusercontent.com/1998463/48158698-785ae600-e2d3-11e8-96bb-76f1190e788f.png)
(North is

[2018-11-07 20:48] tomvantilburg commented on #42
Good to know!
I saw you are already checking the geometry type in the code.
https://github.com/Oslandia/py3dtiles/blob/f55669b2003def0eb699e5fa6e543c579ce1ce82/py3dtiles/wkb_utils.py#L145

You might like to add a small `if` statement to throw an error message when it's not a polyhedral or multipolyz. Now I was kind of in the dark....

[2018-11-08 09:13] Jeremy-Gaillard commented on #44
A bit of context first: py3dtiles was originally designed to hanlde objects in a projected space (typically [LCCs](https://en.wikipedia.org/wiki/Lambert_conformal_conic_projection)), where the region type of bounding volumes can't be used. Instead, we used boxes, which were well suited for this use case. The method used in py3dtiles to generate the tileset still works with globe coordinates, but i

[2018-11-15 15:31] peppsac commented on #34
Regarding the first question: AFAIU, `requirements.txt` should contain the output of `pip freeze` = all the resolved dependencies with their specific version. On the other hand, `setup.py` contains unversionned dependencies.
So there are 2 ways of installing py3dtiles:
- `pip install [-e] PY3DTILES_FOLDER`
- `pip install -r  PY3DTILES_FOLDER/requirements.txt`

Regarding the 2nd question: yes, `vir

[2018-11-16 14:20] HuyQuoc opened #45 "About: Cannot display PNTS after converting LAS with Input SRS WGS84 Projection"
I'm trying to convert LAS to 3DTiles using Py3DTiles.

Hi, I'm succeed in installing Py3DTiles but I cannot display 3DTiles after installed.

I used LAS Viewer to compare output PNTS file with your tested PNTS and found problem relate to difference CRS. Your tested PNTS using projected CRS and my output using lonlat CRS. I dont know how to convert to the right CRS of Py3DTiles.

Please help me to

[2018-11-16 21:11] peppsac commented on #45
Could you answer these questions to help us help you:
- what command line did you use to convert your las file?
- what CRS does you las file uses?
- what 3dtiles viewer do you use?

Thanks!

[2018-11-17 06:54] HuyQuoc commented on #45
Hi Peppsac,

I used follow:
- Command Line: py3dtiles convert {path}/pointcloud.las --out {path}/pointcloud --srs_in 32648 --srs_out 4326
- CRS: EPSG 32648
- 3DTiles Viewer: CesiumJS:
`var viewer = new Cesium.Viewer('cesiumContainer', {
    shadows : false
});
viewer.scene.globe.depthTestAgainstTerrain = true;
viewer.infoBox.frame.removeAttribute('sandbox');
var tileset = viewer.scene.primitives.a

[2018-11-17 10:13] peppsac commented on #45
To display the 3dtiles file in Cesium you should use the EPSG:4978 output srs (so `--srs_out 4978` instead of `--srs_out 4326`).

[2018-11-19 03:04] HuyQuoc commented on #45
OMG. I can display my data now. Big thanks to you peppsac.

I have another question:
- How can i get pointcloud propterties for styling (or How can I have Batched Point Cloud after converting from LAS) ? I checked in PNTS viewer but cannot see properties of point cloud in this example: https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=3D%20Tiles%20Point%20Cloud%20Styling.html

- I also want t

[2018-11-19 08:56] Jeremy-Gaillard commented on #45
CityTiler relies on 3D City DB to read CityGML files. You will need to download 3D City DB (version 3.3.2) and have a running postGIS database. CityTiler supports CityGMLv2. However, I would like to point out that CityTiler is still an early prototype and, depending on how the CityGML is structured, it may not work properly.

[2018-11-19 09:49] HuyQuoc commented on #45
Py3DTiles also can export data from 3DCityDB to 3DTiles, right ? I tried to install 3DCityDB in Terminal Command Line (myOS has no GUI) but cannot success ? Do u have any suggest to display CityGML on Web using Cesium ?

[2018-11-19 09:52] peppsac commented on #45
@HuyQuoc, if you don't mind I'd suggest to open a new issue to discuss the CityGML aspect.

[2018-11-19 09:52] #45 closed

[2018-11-19 09:55] HuyQuoc commented on #45
Yes, It's no problem @peppsac . I'm very glad when have ur support.

[2018-11-29 05:08] HuyQuoc commented on #44
Hi Jeremy,

I got this error when i tried to convert a big LAS file (1GB). Can u explain for me about this and how can i fix it or is this affected to converted 3dtiles ?

Thanks.
Regards.

[2018-11-29 08:36] Jeremy-Gaillard commented on #44
Your error is not related to this issue, please create a new issue to describe your problem.

[2018-12-03 10:03] HuyQuoc commented on #44
Ok. I created new issue. thanks.

[2018-12-03 10:06] HuyQuoc opened #46 "Error after converting big las file (over 2GB)!"
Hi,

I got this error when i tried to convert a big LAS file (over 2GB). With small file (less than 1GB), everything is fine. Can u explain for me about this and how can i fix it or is this affected to converted 3dtiles ?

My Computer has 4 CPU 64bit processors, RAM 16GB with No-GPU.

Thanks.
Regards.

[2018-12-14 10:23] EricBoix opened #47 "Py3DTiles index structures vs Tiler"
## Use case: from py3dTiles to CityTiler
As software end-user I want to generate a tile set out of the following sources of information:
  1. some raw geometrical data source (e.g. a set of buildings each of which described as a triangle soup, or some point clouds)
  2. some (possibly optional and possibly hierarchical) semantic data
  3. some hierarchical (functional) criteria used as ordering pr

[2018-12-28 17:53] bwyss opened #48 "Batch table support"
I would like to style per point metadata in 3d tiles using the cesiumJS [styling specification](https://github.com/AnalyticalGraphicsInc/3d-tiles/tree/master/specification/Styling).

To do so (I believe) I need batch table support. Are there any plans for implementing batch table support?

[2019-03-11 21:52] Mitko88 commented on #27
@Jeremy-Gaillard

Are you still working on this issue? Is there any progress?

[2019-03-12 10:19] EricBoix commented on #27
@Mitko88
The [VCity lab project](https://projet.liris.cnrs.fr/vcity/wiki/doku.php), to which I belong (and where @Jeremy-Gaillard conduced his Phd), is currently working on the [Batch Table Hierarchy support](https://github.com/MEPP-team/py3dtiles/tree/Tiler/py3dtiles). We didn't submit a PR to Oslandia yet (because we are testing those new features on a Tiling algorithm) but we should be doing so

[2019-03-14 06:29] Mitko88 commented on #27
That is great! Keep up with the good work!
I tested some stuff with your library and it works nicely.

[2019-03-20 13:18] RubioV opened #49 "Incorrect winding order on some polygons"
Polygons are triangulated in wkb_utils.py, after which the winding order of each triangle is checked to make sure it is the same as the winding order of the source polygon. However, this check is only done on the first vertices of the polygon, and if the start of the polygon happens to be convex, an incorrect winding order is assumed. This will lead to an inverted winding order on the resulting tr

[2019-03-20 15:59] RubioV commented on #49
This might also be fixed by https://github.com/Oslandia/py3dtiles/pull/18, which seems to provide a simpler solution. However, I haven't tested that solution.

[2019-03-21 08:24] Jeremy-Gaillard commented on #49
Hi,

Thanks for the PR. I had indeed tried to fix the problem a little while back, but (if I remember correctly), it reduced quite significantly the performance. I will try to look more into it once I have a bit more time on my hands, and merge one of the two PRs.

[2019-03-21 09:21] autra commented on #49
@Jeremy-Gaillard oh I remember that. Didn't we fix it in https://github.com/Oslandia/py3dtiles/commits/3d-tiles-improved ?

[2019-03-21 11:12] Jeremy-Gaillard commented on #49
@autra unfortunately no, it's a problem that is induced by #18. IIRC it's the use of `np.linalg.norm` that is very costly.

[2019-03-28 10:48] paulopires16 opened #51 "building 'triangle.core' extension error install"
running build_ext
building 'triangle.core' extension
error: [Error 2] The system cannot find the file specified

----------------------------------------
Command "c:\python27\python.exe -u -c "import setuptools, tokenize;__file__='c:\\windows\\temp\\pip-install-zso2cu\\triangle\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, _

[2019-03-29 17:03] Jeremy-Gaillard commented on #51
It seems you are using python2. py3dtiles uses python3. This may be the cause of your problem.

[2019-07-09 10:19] delhomer opened #53 "Support RGB information when converting .xyz files"
When converting a `.xyz` file that contains 6 columns (x, y, z and r, g, b), one expects to build a colored 3dtile. However one gets the following trace:
[code]
I read the [xyz_reader.py](https://github.com/Oslandia/py3dtiles/blob/master/py3dtiles/points/task/xyz_reader.py#L127) script, and it seems that the color is filled with white triplets.

Considering the RGB info looks possible in `init` fu

[2019-07-22 14:37] #53 closed

[2019-08-01 02:09] xhepburn opened #55 "OSError: liblas_c.so.3: cannot open shared object file: No such file or directory"
i install the package in centos ，but raise this problem.i can't find  liblas_c.so.3 and where  should i put it ?thanks for solve this problen

[2019-08-01 07:39] autra commented on #55
@xhepburn I need more info:

- what is your version of centos
- can you give me the full logs of your session? Including : which command did you use to install py3dtiles and the full output, and which command failed (if different from the installation command) and the full output please.

Thanks!

[2019-08-06 07:14] xhepburn commented on #55
my centos version is 'CentOS Linux release 7.6.1810 (Core)'  and i download py3dtiles and use python setup.py to setup this package,i want to convert my lasfile to 3dtiles ,my commda is 'py3dtiles convert Test.las --out /root/tiles', my english is not very good ,

[2019-08-06 13:46] autra commented on #55
No problem, it'll always be better than my chinese ;-)

Did you install [liblas](https://liblas.org) beforehand?

[2019-08-27 01:38] chenaza commented on #37
Hi,have you resovled this problem on windows?

[2019-08-27 06:55] autra commented on #37
@chenaza if I'm not mistaken it's https://github.com/Oslandia/py3dtiles/pull/39. But this is waiting for @jiawenquan to address a couple of comment.

As it is nearly 1 year old, feel free to take over this PR.

[2019-08-30 00:21] chenaza commented on #37
@autra Thank you for your answer！

[2019-10-30 10:51] radi2015 commented on #37
@chenaza Hi Are you chinese?

[2019-11-26 06:20] AllenAlise opened #60 "Does it support trying to support PTS point cloud"
I tried running it using `PTS `point cloud，The following error occurs：
`Traceback (most recent call last):
  File "E:/GitProject/NEWpy3dtiles/py3dtiles/convert.py", line 803, in <module>
    main(args)
  File "E:/GitProject/NEWpy3dtiles/py3dtiles/convert.py", line 596, in main
    args.rgb)
  File "E:/GitProject/NEWpy3dtiles/py3dtiles/convert.py", line 69, in write_tileset
    for child in root_ti

[2019-12-02 10:11] autra commented on #60
Hi @AllenAlise at the moment, py3dtiles only supports las and xyz file format. Contributions are welcomed to add it!

[2019-12-02 12:41] autra opened #61 "Make a logo :-)"
Let's have a logo for py3dtiles.

Some keywords:

3d, 3dtiles, pointclouds, buildings, streaming, conversion, multiprocessing...

[2019-12-02 12:41] autra commented on #61
@sylvainbeo do you want to do it? :-)

[2019-12-02 12:46] autra commented on #61
some idea for color combos: https://www.colorcombos.com/color-schemes/8347/ColorCombo8347.html

https://www.colorcombos.com/color-schemes/16/ColorCombo16.html

[2019-12-02 12:55] sylvainbeo commented on #61
@autra Sure.

[2020-01-08 16:23] JoaoGuibs opened #65 "convert fails with numba error"
Hi, I tried running your conversion script in order to convert from a .las to a .pnts. I ran:
```py3dtiles convert 20170811bszn.las --out ./tmp/```

But then I get an error from the Numba package which hints towards function variable type incongruency and the process stays stalled forever. The output was:
[code]

Could you shed any light on this error? Thank you.

[2020-01-08 18:47] autra commented on #65
Hi @JoaoGuibs. Thanks for the report. Yes I've seen this already (but can't remember in which situatino). Can you give me your os / python version and the output of `pip freeze` please?

I guess I have some maintenance work to do to adapt to the new breaking change of numba.

Also we absolutely need to restrict the range of version of our dependencies or this is bound to happen again.

[2020-01-09 09:41] JoaoGuibs commented on #65
Hi, thanks for the quick reply. My python version (I am running inside a conda environment) is 3.7.3, and the output of pip freeze is:
[code]
The numba version is the latest release version of the package.

[2020-01-10 07:10] tanajikamble13 opened #66 "py3dtiles convert gives weird result if output projection format specified"
If I run  _py3dtiles convert output.las  --out xyz/pnts --srs_in 4326 --srs_out 32640_ , I get the following output shown in code snippet. Without specifying output projection format atleast it create tiles in pnts format  with default projection but I expect 32640 projection format.  I feel the error is related with pyproj dependency. Eagerly waiting for reply.
**crs.py:77: FutureWarning: '+init=

[2020-01-10 15:48] autra commented on #66
Hi! Thanks for your report. Can you send me the metadata of your las file ? Either with `pdal info` or `lasinfo` from `lastools`?

[2020-01-10 16:11] tanajikamble13 commented on #66
Thanks for reply
[code]

[2020-01-10 16:13] tanajikamble13 commented on #66
lasinfo output of another file I am trying

[code]

[2020-01-10 17:09] autra commented on #66
From the min/max info: your input data are not in EPSG:4326 (which uses *degrees* as units). Anyway, I should have seen that immediately: I've never seen a pointcloud in EPSG:4326. I'm pretty sure they are all in a CRS/SRS in meter.

From your metadata:

[code]
so as reference is defined, you shouldn't use `--srs_in` and let laspy autodetect it in your las. This should fix your issue.

Also, it co

[2020-01-10 18:29] tanajikamble13 commented on #66
Thanks for reply @autra . Before tiling in pnts format, I converted the file in 4326 format using PDAL. In json file I observe the NaN values. I will check the second solution once I get access to my system,  I think converting las file in desired format before tiling will work.
Thanks

[2020-01-10 18:34] autra commented on #65
I'm quite surprised by that: you are using `py3dtiles convert`, which is not in 1.0.2 and AFAIK not released on pypi yet. Are you trying to run py3dtiles master in a env containing py3dtiles 1.0.2? If that's the case maybe you can try to uninstall 1.0.2, update dependencies and see what happens?

Apart from that, I guess we should release a new version on pypi, that might help you.

[2020-01-10 18:46] autra opened #67 "Release v2"
I think cac2193 alone justify this release. It's also a good reason to release a major version :-)

TODO:
- add metadata to setup.py for pypi website
   - link to doc
- make a release note and a migration note
- check the doc

@delhomer wdyt?

[2020-01-10 18:52] autra commented on #67
Also before releasing a major version, I think we should discuss about the current cli and api, and see if we are happy about it. If we are doing breaking changes, it's better to do it right.

[2020-01-13 08:00] delhomer commented on #67
Ok for breaking stuffs *before* any major release... ;)

I see in the [dashboard](https://github.com/Oslandia/py3dtiles/releases) that there is only a few releases. Maybe we should be fine with a `1.1` version?

[2020-01-13 09:44] JoaoGuibs commented on #65
Hi, you are indeed right! I had installed py3dtiles through pip the first time and when I realised there was no convert script, I installed it again through ``` pip install git+[git_url] ``` so there was some kind of clash between versions. Now the conversion fully works!
Thank you again for the quick reply!

[2020-01-13 09:44] #65 closed

[2020-01-13 11:45] tanajikamble13 commented on #66
its still didn't work. I converted my las file in desired format (32640) and omitted   _srs_in  srs_out_  parameters but still result is not as expected.
**Expected json file:**
[code]

**The json file I am getting:**
[code]

Bounding volume unit is completely different than expected bounding volume unit

[2020-01-13 13:36] autra commented on #66
Are you sure? Bounding volumes are affected by the root (and all the children) transforms, and if you look at the last digits of this matrix, you'll see that there *is* a scale. I didn't try to multiply the bbox by the matrix to see if we are getting correct results, but you might want to try to visualize this tileset as it is :-)

How do you plan on using this tileset?

[2020-01-13 14:13] tanajikamble13 commented on #66
I tried to visualize as it is with cesium viewer but I failed to visualize, may be because of lack of correct projection. I expect tileset.json without transformation matrix. I am able to visualize if json file is in expectd format. But with Py3dtiles I am not getting expected json file. Might be with the help of  transformation matrix I can get the correct values of bounding boxes, But again I am

[2020-01-17 02:09] ThornM9 opened #68 "Pointcloud is in incorrect position and disappears after changing the camera"
I processed a LAS file with py3dtiles to get the pnts file. The LAS SRS is WGS84, so I assumed no projection was needed when using this tool. When the camera flies to the bounding sphere of the tileset, the tileset zooms in from the side of the screen, and when the camera is changed by a fraction, it disappears. Also, the tileset is in the complete wrong area on the globe and is over the ocean. I'

[2020-01-20 10:14] autra commented on #66
wait, if your target viewer is Cesium, then you *must* output your 3dtiles in `EPSG:4978`, you *must* use `--srs_out 4978`. It's because Cesium's 3D scene is in this CRS, so your output data must as well.

Btw, this is actually the official spec recommandation (but it is not mandatory, that's why we allow other output crs): https://github.com/AnalyticalGraphicsInc/3d-tiles/tree/master/specificatio

[2020-01-20 10:22] autra commented on #68
From your metadata, I think your pointcloud is in EPSG:32755. It is situated in Australia near Charter Towers, am I right?

If yes, then you should add `--srs_out 4978` to your py3dtiles convert command, because that's the CRS Cesium expects 3dtilsets.

It is the same issue as #66 so I guess I should create a FAQ ;-)

Please let me know if it works better.

[2020-01-20 10:57] autra commented on #21
Closing this because I think it is obsolete.

[2020-01-20 10:57] #21 closed

[2020-01-20 11:07] autra commented on #67
I'd like to respect semver (any breaking change goes into a new major). I like when lib I use respect it, so I want to do so as well here :-) I think it gives valuable information to users.

[2020-01-20 11:40] delhomer commented on #67
Fine for me.

[2020-01-31 15:24] delhomer opened #74 "Database connection"
In line with two PRs (#70 and #72), we are manually passing arguments to the program so as it generates a connection to the database.

In order to makes the program more generalizable and the CLI less verbose, we could use a database connection configuration file (*e.g.* PostgreSQL comes with a `pg_service.conf` file).

[2020-02-12 09:54] mholthausen opened #75 "Feature Table for b3dm files"
I have a question regarding the export of a b3dm from xyz WKB representing a geological layer and the assignment of a _feature table_. Since the export is done without a feature table (because the corresponding lines are commented out, https://github.com/Oslandia/py3dtiles/blob/master/py3dtiles/b3dm.py), the 3D Tiles are not recognized as `Cesium3DTileFeature`  in Cesium and can not be styled.
How

[2020-02-28 09:35] #75 closed

[2020-02-28 10:21] mholthausen opened #78 "Wrong transformation or rotation in b3dm export"
There seems to be an error in the exporting of a b3dm in the transformation or rotation of the gltf object and the tileset boundingVolume box.
I have exported the Polyhedralsurface (in `EPSG:4978`) which is based on a DalunayTriangles TINZ of theses XYZ points (in `EPSG:31468`):

[code]

The area should be a "flat plane" at the height of 112 meters. But the resulting tileset has a rotation in the

[2020-03-05 08:56] whuxxie opened #79 "When Point cloud zoom ou ,it disappeared"
i try to convert txt format point cloud(e.g format: x y z r g b) to 3D Tiles (.pnts),it successed,but in Cesium,when I want to zoom out, it disappered.
and next problem  is ,what is the format of xyz?when i convert ,the position is wrong ,totally strange.
i use WGS84Plane coordinate system，like
2552604.4 187598.9 0.0 6 18 24
2552604.4 187599.9 0.0 56 25 188
2552604.4 187600.9 0.0 232 77 222
255260

[2020-03-05 09:03] autra commented on #79
Hi @whuxxie, what command did you use to convert your pointcloud?

[2020-03-05 17:10] autra commented on #78
Hi @mholthausen!

what is exactly the code / command you used to export this surface?

Can you attach a screenshot of the plane before changing the tileset matrix in cesium?

Thanks

[2020-03-14 23:21] whuxxie commented on #79
i use py3dtiles convert point.xyz --out /tmp/destination

[2020-03-16 08:53] autra commented on #79
hi @whuxxie, what CRS your point.xyz is in? If you don't know, you can give the first 10 or so points.

Short story, you need to use `--srs_in <your_crs>` and `--srs_out 4978`

[2020-04-09 12:52] #35 closed

[2020-05-06 18:43] FreakTheMighty opened #80 "Add B3DM Feature Table"
The b3dm feature table is pretty simple compared to the point cloud feature table - in fact it almost seems unnecessary.  Nonetheless, to make the generated b3dm + batch table to spec, it'd be nice to include the feature table.

There is one related closed ticket here without resolution. #75

I'm happy to contribute a fix for this - I'm wondering though if we need to tackle a bit of refactoring he

[2020-05-14 14:41] EricBoix opened #81 "Failure of some examples that are presented on the Pypi documentation page"
## How to reproduce the problem
I tried to reproduce the b3dm related example code of the [py3dtiles Pypi documentation page](https://pypi.org/project/py3dtiles/).

You first install py3dtiles from the sources which goes
[code]
and then (refer to "How to read a .b3dm file" section) try to run
a python script starting with
[code]
This will fail with a python error message of the form
[code]

## Ana

[2020-05-19 13:05] autra commented on #81
Thanks @EricBoix I'll have a look. We have to publish 2.0 on pypi.

[2020-06-04 07:25] delhomer commented on #27
Moved to https://gitlab.com/Oslandia/py3dtiles/-/issues/27

[2020-06-04 07:25] #27 closed

[2020-06-04 07:25] delhomer commented on #28
https://gitlab.com/Oslandia/py3dtiles/-/issues/28

[2020-06-04 07:25] #28 closed

[2020-06-04 07:25] delhomer commented on #34
https://gitlab.com/Oslandia/py3dtiles/-/issues/34

[2020-06-04 07:25] #34 closed

[2020-06-04 07:25] delhomer commented on #37
https://gitlab.com/Oslandia/py3dtiles/-/issues/37

[2020-06-04 07:25] #37 closed

[2020-06-04 07:25] delhomer commented on #38
https://gitlab.com/Oslandia/py3dtiles/-/issues/38

[2020-06-04 07:25] #38 closed

[2020-06-04 07:25] delhomer commented on #44
https://gitlab.com/Oslandia/py3dtiles/-/issues/44

[2020-06-04 07:25] #44 closed

[2020-06-04 07:26] delhomer commented on #46
Moved to https://gitlab.com/Oslandia/py3dtiles/-/issues/46

[2020-06-04 07:26] #46 closed

[2020-06-04 07:26] delhomer commented on #47
Moved to https://gitlab.com/Oslandia/py3dtiles/-/issues/47

[2020-06-04 07:26] #47 closed

[2020-06-04 07:26] delhomer commented on #48
Moved to https://gitlab.com/Oslandia/py3dtiles/-/issues/48

[2020-06-04 07:26] #48 closed

[2020-06-04 07:26] delhomer commented on #49
Moved to https://gitlab.com/Oslandia/py3dtiles/-/issues/49

[2020-06-04 07:26] #49 closed

[2020-06-04 07:27] delhomer commented on #51
Moved to https://gitlab.com/Oslandia/py3dtiles/-/issues/51

[2020-06-04 07:27] #51 closed

[2020-06-04 07:27] delhomer commented on #55
Moved to https://gitlab.com/Oslandia/py3dtiles/-/issues/55

[2020-06-04 07:27] #55 closed

[2020-06-04 07:27] delhomer commented on #60
Moved to https://gitlab.com/Oslandia/py3dtiles/-/issues/60

[2020-06-04 07:27] #60 closed

[2020-06-04 07:27] delhomer commented on #66
Moved to https://gitlab.com/Oslandia/py3dtiles/-/issues/66

[2020-06-04 07:27] #66 closed

[2020-06-04 07:27] #61 closed

[2020-06-04 07:27] #67 closed

[2020-06-04 07:27] #74 closed

[2020-06-04 07:28] delhomer commented on #68
Moved to https://gitlab.com/Oslandia/py3dtiles/-/issues/68

[2020-06-04 07:28] #68 closed

[2020-06-04 07:28] delhomer commented on #78
Moved to https://gitlab.com/Oslandia/py3dtiles/-/issues/78

[2020-06-04 07:28] #78 closed

[2020-06-04 07:28] delhomer commented on #79
Moved to https://gitlab.com/Oslandia/py3dtiles/-/issues/79

[2020-06-04 07:28] #79 closed

[2020-06-04 07:28] delhomer commented on #80
Moved to https://gitlab.com/Oslandia/py3dtiles/-/issues/80

[2020-06-04 07:28] #80 closed

[2020-06-04 07:28] delhomer commented on #81
Moved to https://gitlab.com/Oslandia/py3dtiles/-/issues/81

[2020-06-04 07:28] #81 closed